.cabecalho{
    background-color: rgb(8, 0, 15);
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: rgb(255, 0, 13);
    padding: 100px;
} 

.section2{
    background-color: rgb(95, 193, 103);
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}