.cabecalho{
    background-color: rgb(8, 0, 15);
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: rgb(99, 220, 109);
    padding: 100px;
} 

.section2{
    background-color: rgb(186, 68, 68);
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: rgb(248, 248, 248);
    color: brown;
}

