.cabecalho{
    background-color: rgb(8, 0, 15);
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: rgb(112, 50, 50);
    padding: 100px;
} 

.section2{
    background-color: rgb(186, 68, 68);
    padding: 100px;
}

.cabecalho-imagem{
    width: 2%;
}

.rodape{
    background-color: rgb(255, 255, 255);
    color: brown;
}

